@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    background-color: #202020;
}

.header {
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    outline: none;
}

img {
    user-select: none;
}

.brand>img {
    width: 150px;
    height: 70px;
    object-fit: cover;
}

.form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 90%;
    background-color: #121212;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    border: 1px solid transparent;
    font-weight: 400;
}

.form input:focus {
    border-color: blue;
}

.functions, .profile {
    cursor: pointer;
}

.profile {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.noResult {
    color: #fff;
    font-size: 20px;
    font-family: monospace;
    transform: translateX(37%);
}

.videoMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.videoSection {
    width: calc(73% - 15px);
}

.videoSection iframe {
    width: 100%;
    height: 450px;
}

.videoSection .videoInfo {
    color: #fff;
    font-family: sans-serif;
}

.videoInfo .titleVideo {
    font-size: 1.2rem;
    margin: 10px 0;
}

.videoInfo .channelTitle {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.videoInfo .description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.videoLists {
    width: calc(27% - 15px);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
}

.videoItems {
    display: flex;
    flex-direction: column;
}

.videoItems img {
    object-fit: cover;
    max-width: 300px;
    width: 100%;
    height: 150px;
}

.videoItems .titleVideo {
    color: #fff;
    margin: 5px 0;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .brand>img {
        width: 100px;
        height: 60px;
    }
    .videoMain {
        flex-direction: column;
    }
    .videoSection, .videoLists {
        width: 100%;
    }
    .noResult {
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    .form input {
        width: 100%;
        padding: 6px;
    }
    .profile {
        margin-left: 0;
    }
    .videoSection iframe {
        height: 300px;
    }
    .functions {
        display: none;
    }
    .videoItems {
        text-align: center;
        place-items: center;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 0 10px;
    }
    .videoMain {
        padding: 10px;
    }
}